@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    body {
        @apply bg-gray-100;
    }
    .header {
        @apply bg-white;
        @apply p-3;
        @apply flex;
        @apply flex-row;
        @apply space-x-10;
        @apply justify-around;
        @apply border-4;
        @apply border-b-slate-900;
    }
}

@layer components {
    .btnHeader {
        @apply bg-white;
        @apply text-black;
        @apply font-sans;
        @apply font-semibold;
    }
    .card {
        @apply grid;
        @apply grid-cols-1;
        @apply content-evenly;
        @apply w-1/6;
        @apply ml-10;
        @apply mb-3;
        @apply bg-white;
        @apply p-2;
        @apply rounded-lg;
        @apply shadow-xl;
        @apply font-sans;
    }
    .cardCategory {
        @apply flex;
        @apply text-right;
        @apply mb-1;
    }
    .btnCardAjout {
        @apply bg-blue-500;
        @apply hover:bg-blue-600;
        @apply text-white;
        @apply p-2;
        @apply m-auto;
        @apply w-3/5;
        @apply rounded-lg;
        @apply font-semibold;
        @apply shadow-xl;
    }
    .labelCategory {
        @apply w-1/2;
        @apply antialiased;
        @apply flex-none;
        @apply p-0.5;
    }
    .labelProduct {
        @apply w-1/2;
        @apply font-semibold;
        @apply p-0.5;
    }
    .btnCart {
        @apply grid;
        @apply rounded-full;
        @apply bg-white;
        @apply hover:bg-indigo-100;
        @apply h-10;
        @apply w-10;
        @apply place-content-center;
        @apply border-2;
    }
    .cartItemInfo {
        @apply flex;
        @apply justify-between;
        @apply text-base;
        @apply font-medium;
        @apply text-gray-900;
    }
    .btnCheckout {
        @apply flex;
        @apply items-center;
        @apply justify-center;
        @apply rounded-md;
        @apply border;
        @apply border-transparent;
        @apply bg-indigo-600;
        @apply px-6;
        @apply py-3;
        @apply text-base;
        @apply font-medium;
        @apply text-white;
        @apply shadow-sm;
        @apply hover:bg-indigo-700;
    }
    .btnContinueShopping {
        @apply font-medium;
        @apply text-indigo-600;
        @apply hover:text-indigo-500;
    }
    .cartItemImage {
        @apply h-20;
        @apply w-20;
        @apply flex-shrink-0;
        @apply overflow-hidden;
        @apply rounded-md;
        @apply border;
        @apply border-gray-200;
    }
    .cart-count {
        @apply bg-red-500 rounded-xl w-5 h-5 text-center text-white absolute ml-5;
        line-height: 1.8;
        position: relative;
        top: 10px;
        font-size: 0.7rem;
    }
}
